.jumbotron{
background-color:antiquewhite;
color: black;

}

.btn-informacion{
    background-color:black;
    color: white;
    border-color:antiquewhite;
    width: 100%;
    }

footer {
    padding: 50px 50px 50px 50px;
    background-color: azure;
    margin-bottom: 0px;
    margin-top: 50px;
    
   
}

.card-agregado {
    flex: 1 250px;   
    padding: 2px 0px 2px 0px;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 3px;
}

.btn-informacion {
    width: 100%;
    

}

.footer-address-ico {

    padding-right: 10px;
}

.footerpropio{

background-color:black;
color: white;

}

/*.jumbotron.jumbotron-fluid{
    background-image: url("../imagenes/banner.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    border-color: white;
    border: 2px;

}

.divtextojumbotron {

    margin-left: 250px;
}*/

.afooter{

color:gray;
    
    }

.afooter:hover{

color: antiquewhite;
    
    }

.containerbanner{

   width: 100%;
    
}

#myTab {

    margin-bottom: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{

    background-color:midnightblue;
}

