.jumbotron {
  background-color: #f0f17d9c;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px; }

.btn-informacion {
  background-color: black;
  color: white;
  border-color: antiquewhite;
  width: 100%; }

.footerpropio {
  padding: 50px 50px 50px 50px;
  background-color: #1d3a03;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-top: 80px;
  margin-bottom: 0px;
  color: whitesmoke; }

#leer_mas {
  background-color: #bd5d5d; }

.afooter {
  color: gray; }

.afooter:hover {
  color: antiquewhite; }

.card-agregado {
  flex: 1 250px;
  padding: 2px 0px 2px 0px;
  margin-top: 20px;
  margin-right: 3px;
  margin-left: 3px; }

.footer-address-ico {
  padding-right: 10px; }

/*.jumbotron.jumbotron-fluid{
        background-image: url("../imagenes/banner.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        color: black;
        border-color: white;
        border: 2px;

    }

    .divtextojumbotron {

        margin-left: 250px;
    }*/
.containerbanner {
  width: 100%; }

#myTab {
  margin-bottom: 5px; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: midnightblue; }
