$colorVerde:rgb(29, 58, 3);
$colorAmarillo:#f0f17d9c;
$colorRojo:rgb(189, 93, 93);


@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron{
    background-color:$colorAmarillo;
    color: black;
    @include margenes(0px, 0px )

    }

.btn-informacion{
    background-color:black;
    color: white;
    border-color:antiquewhite;
    width: 100%;
    }

.footerpropio {
    padding: 50px 50px 50px 50px;
    background-color: $colorVerde;
    margin-bottom: 0px;
    margin-top: 50px;
    @include margenes(80px, 0px );
    color: whitesmoke;

}

#leer_mas {

    background-color: $colorRojo;
}



.afooter{

    color:gray;

        }

    .afooter:hover{

    color: antiquewhite;

        }


.card-agregado {
    flex: 1 250px;
    padding: 2px 0px 2px 0px;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 3px;
}



.footer-address-ico {

    padding-right: 10px;
}


    /*.jumbotron.jumbotron-fluid{
        background-image: url("../imagenes/banner.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        color: black;
        border-color: white;
        border: 2px;

    }

    .divtextojumbotron {

        margin-left: 250px;
    }*/

.containerbanner{

    width: 100%;

}

#myTab {

    margin-bottom: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{

    background-color:midnightblue;
}

