.jumbotron {
  background-color: #bfc22d;
  color: black;
}
.btn-informacion {
  background-color: black;
  color: white;
  border-color: antiquewhite;
  width: 100%;
}
.footerpropio {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #103B1B;
  margin-bottom: 0px;
  margin-top: 50px;
  color: whitesmoke;
}
#leer_mas {
  background-color: #94230c;
}
.afooter {
  color: gray;
}
.afooter:hover {
  color: antiquewhite;
}
.card-agregado {
  flex: 1 250px;
  padding: 2px 0px 2px 0px;
  margin-top: 20px;
  margin-right: 3px;
  margin-left: 3px;
}
.footer-address-ico {
  padding-right: 10px;
}
/*.jumbotron.jumbotron-fluid{
        background-image: url("../imagenes/banner.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        color: black;
        border-color: white;
        border: 2px;
    
    }
    
    .divtextojumbotron {
    
        margin-left: 250px;
    }*/
.containerbanner {
  width: 100%;
}
#myTab {
  margin-bottom: 5px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: midnightblue;
}
