@colorAmarillo:#bfc22d;
@colorVerde:#103B1B;
@colorRojo:#94230c;


.padding(@top, @bottom, @left, @right) {
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;
    
}


.jumbotron{
    background-color:@colorAmarillo;
    color: black;
    
    }
    
    .btn-informacion{
        background-color:black;
        color: white;
        border-color:antiquewhite;
        width: 100%;
        }
    
    .footerpropio {
        .padding(60px, 60px, 70px, 70px);
        background-color: @colorVerde;
        margin-bottom: 0px;
        margin-top: 50px;
        color: whitesmoke;
        
       
    }

    #leer_mas {

        background-color: @colorRojo;
    }

  

    .afooter{

        color:gray;
            
            }
        
        .afooter:hover{
        
        color: antiquewhite;
            
            }
        
    
    .card-agregado {
        flex: 1 250px;   
        padding: 2px 0px 2px 0px;
        margin-top: 20px;
        margin-right: 3px;
        margin-left: 3px;
    }
    
    
    
    .footer-address-ico {
    
        padding-right: 10px;
    }
    
    
    /*.jumbotron.jumbotron-fluid{
        background-image: url("../imagenes/banner.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        color: black;
        border-color: white;
        border: 2px;
    
    }
    
    .divtextojumbotron {
    
        margin-left: 250px;
    }*/
    
    
    
    .containerbanner{
    
       width: 100%;
        
    }
    
    #myTab {
    
        margin-bottom: 5px;
    }
    
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    
        background-color:midnightblue;
    }
    